#inValue {
  border-radius: 100%;
  background-color: rgb(37, 45, 55);
  border: none;
  color: hsl(216, 12%, 54%);
  height: 50px;
  width: 50px;
}
#inValue:hover{
  background-color: rgb(149, 158, 172);
  color: hsl(213, 19%, 18%);
  cursor: pointer;
}
l {
  color: #ffffff;
  color: #959eac;
  color: #7c8798;
  color: #252d37;
  color: #121417;
}